<!doctype html>
<html ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <title>Counter directive</title>
    <script src="js/angular.js"></script>
  </head>
  <body>
  <!-- as counterVM es como hacer un new counterVM()-->
    <div ng-controller="CounterController as counterVM">
    	el valor del contador 1 es {{counterVM.count1}}
    	el valor del contador 2 es {{counterVM.count2}}
    	<counter count="counterVM.count1"></counter>
    	<counter count="counterVM.count2"></counter>
    </div>
  </body>
  <script src="js/module.js"></script>
  <script src="js/counter.controller.js"></script>
  <!--<script src="js/counter.directive.js"></script>-->
  <script src="js/counter.component.js"></script>
  
</html>
